<div class="card-category" id="banner-card">
  <h1>Cocktails</h1>
</div>
<div class="cards p-4" >
  <div class="card-category m-2" id="new-recipe-card">
    <p><%= link_to 'Add a new recipe', new_cocktail_path %></p>
  </div>
  <% @cocktails.each do |cocktail| %>
    <div class="card-category m-2">
      <p><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-decoration-none"%></p>
    </div>
  <% end %>
</div>




