<h1 class="w-25 mx-auto mt-5">Add a cocktail</h1>
<div class="w-25 mx-auto">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
